* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-SemiBold.otf);
    font-weight: 600;
}
body {
    font-family: 'Inter';
    font-size: 16px;
}

/* header start */
header {
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #6F68EF;
}
.header-wrap {
    background-color: #6F68EF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-role {
    color: white;
}

.header-items-wrap {
    display: flex;
    gap: 20px;
    color: #6F68EF;
    height: 30px;
    align-items: center;
}
.header-item {
    width: 130px;
    text-align: center;
    background-color: white;
    padding: 5px 25px;
    border-radius: 10px;
    text-decoration: none;
    color: #6F68EF;
}
#add-list {
    width: 180px;
    font-family: 'Inter';
    font-size: 16px;
    color: #6F68EF;
    border: none;
    border-radius: 10px;
    padding: 5px;
}
/* header end */